<div class="hacknical-footer">
  <div class="footer-wrapper">
    <div class="footer-section footer-left">
      <img class="footer-image" src="{{ assetsPath("vendor/images/hacknical-logo.png") }}"/>
      &nbsp;&nbsp;
      <div class="footer-logo">
        hacknical
      </div>
    </div>
    <div class="footer-section footer-right">
      <span class="footer-intro">
        Built by <a href="https://github.com/sethbergman" target="_blank">Seth Bergman</a> with ❤️
      </span>&nbsp;&nbsp;&nbsp;
      <a href="https://github.com/sethbergman/hacknical/blob/master/doc/ABOUT-en.md" target="_blank">{{ about }}</a>&nbsp;&nbsp;
      <a href="https://github.com/sethbergman/hacknical/issues" target="_blank">{{ feedback }}</a>&nbsp;&nbsp;
      <a href="https://github.com/sethbergman/hacknical" target="_blank">{{ code }}</a>
    </div>
  </div>
</div>
